<!DOCTYPE html>
<html lang="ar">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us</title>
    <link rel="stylesheet" href="/log in project/about.css">
</head>

<body>
    <header id="header">
        <div class="logo">
            <i> FP </i>
            <a href="/">Find Programmer</a>
        </div>
    </header>
    <!--=================================================  -->
    <section id="div0-1">
            <h2>Our Mission</h2>
            <p>
                Website called "FP Find. Programmer" The website involves Deals between programmers and two types of
                clients: Companies & General Customers And our website is the mediator between them...
            </p>
    </section>
    <!-- ================================================ -->
    <section id="team">
        <div class="ourteam">
           <div class="div0-1">
            <h1>Name: "anas obidat"</h1>
            <h2>Age: 22</h2>
            <p> Job Title Name: "web devloper" </p>
            <p>Phone Number: "0796378627" </p>
            <p>Email Address: "anasmobeidat88@gmail.com"</p>
            <p> Note: "Studied in BAU my major is computer science <br>
                and I chose to be web full stack developer"
                "Thank you"</p>
            </div>
            <div class="img">
                <img src="/log in project/imgs/ANASSS.jpg" alt="">
            </div>

        </div>
        <div class="ourteam">
            <div class="div0-1">

            <h1>Name: "mohammed mousa"</h1>
            <h2> Age: 22</h2>
            <p>Job Title Name: "web devloper"</p>
            <p> Number: "0788616370"</p>
            <p> Email Address: "mohammad.38002@gmail.com"</p>

            <p>Note: "Studied in BAU my major is computer science <br>
                and I chose to be web back-end developer and i did some projects like todo list, <br> youtube page ,
                website about fitness <br>
                and website online shopping …. <br> feel free to deal with me to make best project with your needs and
                ideas <br> with short time Deals pay started with 500$ <br>
                and it increases or decreases depending on your needs "<br>
                "Thanks for you genius"</p>
            </div>

            <div class="img">
                <img src="/log in project/imgs/mohh.jpg" alt="">
            </div>

        </div>


        <div class="ourteam">

            <div class="div0-1">

            <h1> name:"haya al-saleh"</h1>
            <h2>age:22 </h2>
            <p>jobTitleName:"web devloper"</p>
            <p>phoneNumber:"0791927746"</p>
            <p>emailAddress:"ahaya219@gmail.com"</p>
            <p> note:"Studying in BAU computer science programs offers valuable skills,
                a strong foundation in computer science principles,
                in-depth knowledge of web technologies,
                opportunities for specialization, and a platform for networking and collaboration.
                and I'm frontend web development "
                "thank for you"

            </p>
        </div>

            <div class="img">
                <img src="/log in project/imgs/HAYAAA.jpg" alt="">
            </div>

        </div>



        <div class="ourteam">

            <div class="div0-1">

            <h1>Name:"shaima Nawafleh"</h1>
            <h2>Age:22</h2>
            <p>Job Title Name:"web devloper"</p>
            <p>Phone Number:"0776542498" </p>
            <p>Email Address:"Shaimanawafleh26o@gmail.com" </p>

            <p>note:"I studied Computer Science at B.A. <br> University, where I executed various websites using: <br>
                HTML, CSS, and JavaScript, including to-do lists and user interfaces for <br> e-commerce websites. 
                I'm also proficient in developing interactive web applications 
                and creating innovative user interfaces. <br>If you're looking for a front-end developer the design of
                your amazing website,then you're in the right place.
                 Customer satisfaction is my top priority.
                Delivery of work on time is guaranteed. Prices start from $440. Let's get started!," 
                "thank for you"
            </p>
        </div>

            <div class="img">
                <img src="/log in project/imgs/shayma.jpeg" alt="">
            </div>


        </div>
        <div class="ourteam">
            <div class="div0-1">

            <h1> name:"rama hourani"</h1>
            <h2>age : 20 </h2>
            <p> jobTitleName:"web devloper"</p>
            <p>phoneNumber:"0771923062"</p>
            <p>emailAddress:"alhwranymhmd12@gmail.com" </p>
            <p>note:"Studied in ABU is computer science and I chose to be web full-stack developer,
                A professional website developer of experience in front-end and back-end development.
                Specializes in using programming languages such as:
                HTML, CSS, JavaScript, and frameworks like MongoDB and Node.js.
                I hope to learning many languages.
                "thank you"
            </p>
        </div>

            <div class="img">
                <img src="/log in project/imgs/rama.jpeg" alt="">
            </div>

        </div>

        <div class="ourteam">

            <div class="div0-1">

            <h1>name:"mohammed melhem" </h1>
            <h2>age:22</h2>
            <p>jobTitleName:"web devloper"</p>
            <p>phoneNumber:"07 7793 4882" </p>
            <p>emailAddress:"mohammednmelhem@gmail.com"</p>
            <p>note:" Studied in BAU my major is computer science
                I chose to be Proficiency in programming languages such as HTML, CSS, and JavaScript.
                Proficiency with solid databases including MySQL.
                Knowledge of design techniques and user experience (UI/UX).
                Ability to work with modern tools and technologies in web development.
                Excellent communication skills and ability to work in a team." <br>,
                thanks for you,
            </p>
        </div>

            <div class="img">
                <img src="/log in project/imgs/moh.jpg" alt="">
            </div>

        </div>




    </section>

    <footer id="footer">
        <div id="div0-f">
            <div id="div1-f" class="footerDivs">
                <h1>
                    FP <br>
                    Find.Programmer
                </h1>
            </div>
            <div id=div2-f class="footerDivs">
                <ul>
                    <li>
                        Group BAU
                    </li>
                    <br>
                   
                    <li>
                        <a href="/TermsOfServices">Terms of services</a>
                    </li>
                    <li>
                        <a href="/PrivacyPolicy">Privacy Policy</a>
                    </li>
                </ul>
            </div>
            <div id=div3-f class="footerDivs">
                <ul>
                    <li>
                        Follow us
                    </li>
                    <br>
                    <li>
                        <a href="">Facebook</a>
                    </li>
                    <li>
                        <a href="">Twitter</a>
                    </li>
                    <li>
                        <a href="">Instagram</a>
                    </li>
                </ul>
            </div>
            <div id="div4-f" class="footerDivs">
                <ul>
                    <li>contact us</li>
                    <br>
                    <li><a href="">mohammad.38002@gmail.com</a></li>
                </ul>
            </div>
        </div>
        <br>
        <div id="div5-f">
            <img src="/log in project/imgs/BAU.jpg" alt="BAU" class="BAU-image">
        </div>
        <div id="div6-f">
            <div class="start">From BAU</div>
            <div class="end">Made with . in BAU @2024 FP... </div>
        </div>
        <br> <br>
    
    </footer>
    <script src="/log in project/major.js"></script>

</body>

</html>