<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Backend Engineer</title>

    <link href="https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="/log in project/Backend_Engineer.css">
    <script src="https://unpkg.com/scrollreveal"></script>
</head>
<body>
    <!--=======================================================================================================-->
    <header id="header">
        <div class="logo">
            <i> FP </i>
            <a href="/">Find.programmer </a>
        </div>
        <div id="menu0-1">
            <ul class="menu1-1">
                <li class="menu2-1">
                    <button class="button0-1" onclick="toggleDropdown(this)">you are </button>
                    <div class="dropdown">
                        <a href="/signUp/company">company </a>
                        <a href="/signUp/programmer"> programmer </a>
                        <a href="/signUp/clientIndividual"> Individual </a>
                    </div>
                </li>
                <li class="menu2-1">
                    <button class="button0-1" onclick="toggleDropdown(this)">your project</button>
                    <div class="dropdown">
                        <a href="/WebsiteDevelopment">Website development</a>
                        <a href="/VideoGameDevelopment">Video game development</a>
                        <a href="/EducationalTools">Educational tools</a>
                        <a href="/CommunityProject">Community project</a>
                        <a href="/MobileAppDevelopment">Mobile app development</a>
                    </div>
                </li>
            </ul>
            <button class="log-in" ><a href="/signUp" style="text-decoration: none; color: #fff;">Join</a> </button>         
        </div>
    </header>
    <!--=======================================================================================================-->
    <section class="sec1">
        <div class="contener1">
            <p class="p1-1">Backend Engineer</p>
        </div>
    </section>
    <!--=======================================================================================================-->
    <section class="sec2">
        <div class="contener2">
            <div class="div1-2">
                <img src="/log in project/imgs/Backend_Engineer_user.png" alt="Users">
            </div>
            <div class="div2-2"></div>
            <div class="div3-2">
                <p class="p1-2">HTTPS Requests</p>
            </div>
            <div class="div4-2"></div>
            <div class="div5-2">
                <p class="p2-2">Secure Socket <br>Layer</p>
            </div>
            <div class="div6-2"></div>
            <div class="div7-2">
                <p class="p3-2">API <br>Gateway <br>Service</p>
            </div>
            <div class="div8-2"></div>
            <div class="div9-2">
                <p class="p4-2">Middleware <br>(Token <br>authentication)</p>
            </div>
        </div>
        <div class="contener2arrow"></div>
    </section>
    <!--=======================================================================================================-->
    <section class="sec3">
        <div class="contener1-3">
            <div class="div1-3">
                <p class="p1-3">Application API</p>
                <div class="div2-3">
                    <p class="p2-3">Edition <br>Module</p>
                    <p class="p3-3">Onboarding <br>Module</p>
                    <p class="p4-3">Membership <br>Module</p>
                    <p class="p5-3">Referral <br>Agent Module</p>
                    <p class="p6-3">Admin <br>Module</p>
                    <p class="p7-3">Crons</p>
                </div>
            </div>




            <div class="contener2-3">
                <div class="div3-3">
                    <div class="div4-3">
                        <p class="p8-3">Redis (For Caching)</p>
                    </div>
                    <div class="div5-3">
                        <p class="p9-3">Third Party Libraries Used in App</p>
                    </div>
                    <div class="div6-1-3"></div>
                    <div class="div6-2-3"></div>
                </div>

                <div class="div7-3"></div>
                <div class="div8-3">
                    <div class="div9-3">
                        <p class="p10-3">Sendgrid</p>
                        <p class="p11-3">Firebase</p>
                        <p class="p12-3">Kickbox</p>
                        <p class="p13-3">Stripe</p>
                        <p class="p14-3">New Relic</p>
                        <p class="p15-3">Mongo Atlas</p>
                        <p class="p16-3">AWS</p>
                    </div>
                    <div class="div10-3">
                        <p class="p17-3">For Email Sending</p>
                        <p class="p18-3">Push Notification</p>
                        <p class="p19-3">Email Verification</p>
                        <p class="p20-3">Payment Gateway</p>
                        <p class="p21-3">Logs <br>Analysis</p>
                        <p class="p22-3">MongoDb</p>
                        <p class="p23-3">Code Storage and Assets Management</p>
                    </div>
                </div>

                <div class="div11-3">
                    <div class="div12-3"></div>
                    <div class="div13-3">
                        <p class="p24-3">MongoDb Database</p>
                    </div>
                    <div class="div14-3"></div>
                    <div class="div15-3"></div>
                    <div class="div16-3">
                        <p class="p25-3">AWS S3 (CDN)</p>
                    </div>
                    <div class="div17-3"></div>
                    <div class="div18-3">
                        <p class="p26-3">App Assets</p>
                    </div>
                </div>

                
                <div class="arrow1"></div>
                <div class="arrow2"></div>
                <div class="arrow3"></div>
                <div class="arrow4"></div>
                <div class="arrow5"></div>
                <div class="arrow6"></div>
                <div class="arrow7"></div>
                <div class="arrow8"></div>

                
            </div>
        </div>
    </section>
    <!--=======================================================================================================-->
    <section class="sec4">
        <p class="p1-4">Skill Levels</p>
        <div class="cintener4">
            <div class="div1-4">
                <div class="div2-4">
                    <img src="/log in project/imgs/Backend_Engineer_intern.png" alt="Intern">
                    <p class="p2-4">Intern</p>
                    <p class="p3-4">This level is quite rare and precedes the Junior level. 
                        These are people with minimal knowledge in the field who are on a probationary
                         period in the company. They perform the simplest tasks and progress to the Junior level.</p>
            
                </div>
                <div class="div3-4">
                    <img src="/log in project/imgs/Backend_Engineer_middle.png" alt="Middle">
                    <p class="p4-4">Middle</p>
                    <p class="p5-4">This is the main employee who knows how to independently perform the
                         tasks assigned to him. They are able to cope with non-standard tasks. Usually have
                          experience in <br>1−3 years of development.
                       </p>
                </div>
            </div>
            <div class="div4-4">
                <p class="p6-4">&#10122</p>
                <p class="p7-4">&#10103;</p>
                <p class="p8-4">&#10104;</p>
                <p class="p9-4">&#10105;</p>
                <hr>
            </div>
            <div class="div5-4">
                <div class="div6-4">
                    <img src="/log in project/imgs/Backend_Engineer_junior.png" alt="Junior">
                    <p class="p10-4">Junior</p>
                    <p class="p11-4">This is the first step (less often the second) with which any developer begins.
                         Their task in the project is to perform standard tasks with minor risks.
                    </p>
                </div>
                <div class="div7-4">
                    <img src="/log in project/imgs/Backend_Engineer_senior.png" alt="Senior">
                    <p class="p12-4">Senior</p>
                    <p class="p13-4">This is an experienced developer who has seen a lot of code, made a lot of mistakes and managed to draw the right conclusions from it. The main task
                        Signora - make the right technological decisions in the project.</p>
                </div>
            </div>
        </div>

        <div class="div8-4"></div>
        <div class="div9-4"></div>
        <div class="div10-4"></div>
        <div class="div11-4"></div>
        <div class="div12-4"></div>
    </section>
    <!--=======================================================================================================-->


    <footer id="footer">
        <div id="div0-f">
            <div id="div1-f" class="footerDivs">
                <h1>
                    FP <br>
                    Find.Programmer
                </h1>
            </div>
            <div id=div2-f class="footerDivs">
                <ul>
                    <li>
                        Group BAU
                    </li>
                    <br>
                    <li>
                        <a href="/About">About us</a>
                    </li>
                    <li>
                        <a href="/TermsOfServices">Terms of services</a>
                    </li>
                    <li>
                        <a href="/PrivacyPolicy">Privacy Policy</a>
                    </li>
                </ul>
            </div>
            <div id=div3-f class="footerDivs">
                <ul>
                    <li>
                        Follow us
                    </li>
                    <br>
                    <li>
                        <a href="">Facebook</a>
                    </li>
                    <li>
                        <a href="">Twitter</a>
                    </li>
                    <li>
                        <a href="">Instagram</a>
                    </li>
                </ul>
            </div>
            <div id="div4-f" class="footerDivs">
                <ul>
                    <li>contact us</li>
                    <br>
                    <li><a href="">mohammad.38002@gmail.com</a></li>
                </ul>
            </div>
        </div>
        <br>
        <div id="div5-f">
            <img src="/log in project/imgs/BAU.jpg" alt="BAU" class="BAU-image">
        </div>
        <div id="div6-f">
            <div class="start">From BAU</div>
            <div class="end">Made with . in BAU @2024 FP... </div>
        </div>
        <br> <br>
    
    </footer>

    <!--=======================================================================================================-->
    <script src="/log in project/major.js"></script>
    <script>
        ScrollReveal({
            reset: true,
            distance: '60px',
            duration: 2500,
            delay: 400
        });

        ScrollReveal().reveal('.p2-4, .p4-4, .p10-4, .p12-4', {
            delay: 300,
            origin: 'top'
        });
        ScrollReveal().reveal('.p3-4, .p5-4, .p11-4, .p13-4', {
            delay: 300,
            origin: 'bottom'
        });
    </script>
    <!--=======================================================================================================-->
</body>
</html>