<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> ChatBots </title>
    <link href="https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/log in project/chatbots.css">
    <script src="https://unpkg.com/scrollreveal"></script>
</head>

<body>

    <!--=======================================================================================================-->

    <header id="header">
        <div class="logo">
            <i> FP </i>
            <a href="/">Find.programmer </a>
        </div>
        <div id="menu0-1">
            <ul class="menu1-1">
                <li class="menu2-1">
                    <button class="button0-1" onclick="toggleDropdown(this)">you are </button>
                    <div class="dropdown">
                        <a href="/signUp/company">company </a>
                        <a href="/signUp/programmer"> programmer </a>
                        <a href="/signUp/clientIndividual"> Individual </a>
                    </div>
                </li>
                <li class="menu2-1">
                    <button class="button0-1" onclick="toggleDropdown(this)">your project</button>
                    <div class="dropdown">
                        <a href="/WebsiteDevelopment">Website development</a>
                        <a href="/VideoGameDevelopment">Video game development</a>
                        <a href="/EducationalTools">Educational tools</a>
                        <a href="/CommunityProject">Community project</a>
                        <a href="/MobileAppDevelopment">Mobile app development</a>
                        <a href="/AutomationProjects">Automation Projects</a>


                    </div>
                </li>
            </ul>
            <button class="log-in" ><a href="/signUp" style="text-decoration: none; color: #fff;">Join</a> </button>


            
        </div>
    </header>
    <!--=======================================================================================================-->
    <section class="sec1">
        <div class="contener1">
            <div class="div1-1">
                <p>Chatbots and <br>AI assistants</p>
            </div>
            <div class="div2-1">
                <p>
                    If you looking for create something like <span class="green">Chatgpt</span> or <span
                        class="purple">Bard AI</span>
                    inside your project Programmers can play a pivotal role in the development of chatbots and Al
                    assistants by combining
                    technical expertisewith an understanding of your needs and industry-specific requirements.
                </p>
            </div>
        </div>
    </section>

    <!--=======================================================================================================-->
    <section class="sec2">
        <div class="contener2">
            <p>
                Why we need chatbots and AI assistants?
            </p>
        </div>
    </section>

    <!--=======================================================================================================-->
    <section class="sec3">
        <hr>
        <div class="contener3">
            <div class="div1-3">
                <img class="img1-3 , img-right" src="/log in project/imgs/chatbots_availability.jpeg" alt="">
                <p class="p-left">
                    <span>.</span>
                    24/7 Availability
                </p>
            </div>
            <div class="div2-3">
                <p class="p-right1">
                    Improved Customer Service
                    <span>.</span>
                </p>
                <img class="img1-3 , img-left1" src="/log in project/imgs/chatbots_Improved Customer Service.jpeg" alt="">
            </div>
            <div class="div3-3">
                <img class="img1-3 , img-right" src="/log in project/imgs/chatbots_Lead Generation to development.jpeg" alt="">
                <p class="p-left">
                    <span>.</span>
                    Lead Generation to development
                </p>
            </div>
            <div class="div4-3">
                <p class="p-right2">
                    Support for Remove Work
                    <span>.</span>
                </p>
                <img class="img1-3 , img-left2" src="/log in project/imgs/chatbots_SupportforRemoveWork.jpeg" alt="">
            </div>
            <div class="div5-3">
                <img class="img1-3 , img-right" src="/log in project/imgs/chatbots_Accessibility.jpeg" alt="">
                <p class="p-left">
                    <span>.</span>
                    Accessibility
                </p>
            </div>
        </div>

    </section>
    <!--=======================================================================================================-->
    <section class="sec4">
        <div class="contener4">
            <div class="div1-4">
                <p class="p1-4">Communicate with <a class="a1-4" href="/">FP</a> Programmers to creat your own chatbots!
                </p>
            </div>
            <div class="div2-4">
                <a class="a2-4" href="">see Projects</a>
            </div>
        </div>
    </section>
    <!--=======================================================================================================-->
    <section class="sec5">
        <div class="contener5">
            <p class="p1-5">Related topics</p>
            <div class="div1-5">
                <a href="/WebsiteDevelopment">Website development</a>
                <a href="/VideoGameDevelopment">Video game development</a>
                <a href="/EducationalTools">Educational tools</a>
            

            </div>
            <div class="div1-5">
                <a href="/CommunityProject">Community project</a>
                <a href="/MobileAppDevelopment">Mobile app development</a>
                <a href="/AutomationProjects">Automation Projects</a>
            </div>
        </div>
    </section>
    <!--=======================================================================================================-->

    <footer id="footer">
        <div id="div0-f">
            <div id="div1-f" class="footerDivs">
                <h1>
                    FP <br>
                    Find.Programmer
                </h1>
            </div>
            <div id=div2-f class="footerDivs">
                <ul>
                    <li>
                        Group BAU
                    </li>
                    <br>
                    <li>
                        <a href="/About">About us</a>
                    </li>
                    <li>
                        <a href="/TermsOfServices">Terms of services</a>
                    </li>
                    <li>
                        <a href="/PrivacyPolicy">Privacy Policy</a>
                    </li>
                </ul>
            </div>
            <div id=div3-f class="footerDivs">
                <ul>
                    <li>
                        Follow us
                    </li>
                    <br>
                    <li>
                        <a href="">Facebook</a>
                    </li>
                    <li>
                        <a href="">Twitter</a>
                    </li>
                    <li>
                        <a href="">Instagram</a>
                    </li>
                </ul>
            </div>
            <div id="div4-f" class="footerDivs">
                <ul>
                    <li>contact us</li>
                    <br>
                    <li><a href="">mohammad.38002@gmail.com</a></li>
                </ul>
            </div>
        </div>
        <br>
        <div id="div5-f">
            <img src="/log in project/imgs/BAU.jpg" alt="BAU" class="BAU-image">
        </div>
        <div id="div6-f">
            <div class="start">From BAU</div>
            <div class="end">Made with . in BAU @2024 FP... </div>
        </div>
        <br> <br>

    </footer>
    <!--=======================================================================================================-->
    <script src="/log in project/major.js"></script>

    <script>
        ScrollReveal({
            reset: true,
            distance: '60px',
            duration: 2500,
            delay: 400
        });

        ScrollReveal().reveal('.img-right , .p-right1 , .p-right2', {
            delay: 100,
            origin: 'left'
        });
        ScrollReveal().reveal('.img-left1, .img-left2, .p-left ', {
            delay: 100,
            origin: 'right'
        });
        ScrollReveal().reveal('.contener2 ', {
            delay: 300,
            origin: 'bottom'
        });
    </script>
</body>

</html>