<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    <title>company</title>
    <link rel="stylesheet" type="text/css" href="/log in project/company.css">
</head>

<body>

    <header id="header">
        <div class="logo">
            <i> FP </i>
            <a href="/">Find.programmer </a>
        </div>
        <div id="menu0-1">
            <ul class="menu1-1">
                <li class="menu2-1">
                    <button class="button0-1" onclick="toggleDropdown(this)">you are </button>
                    <div class="dropdown">
                        
                        <a href="/signUp/programmer"> programmer </a>
                        <a href="/signUp/clientIndividual"> Individual </a>
                    </div>
                </li>
                <li class="menu2-1">
                    <button class="button0-1" onclick="toggleDropdown(this)">your project</button>
                    <div class="dropdown">
                        <a href="/WebsiteDevelopment">Website development</a>
                        <a href="/VideoGameDevelopment">Video game development</a>
                        <a href="/EducationalTools">Educational tools</a>
                        <a href="/ChatBots">ChatBots</a>
                        <a href="/CommunityProject">Community project</a>
                        <a href="/MobileAppDevelopment">Mobile app development</a>

                    </div>
                </li>
            </ul>
            <button class="log-in" ><a href="/signUp" style="text-decoration: none; color: #fff;">Join</a> </button>


        </div>
    </header>
    <!-- =================================================== -->
    <div id="div0-1">
        <div class="div1-1">
            <p class="p1-1"> 
                <a href=""> FP  </a>  from BAU
                
             </p>   

        </div>
        <div class="div2-1">
         
            <h1>Make your company stronger <br>
                by supporting it with the best <br>
                 programmer's ever!
            </h1>
       
        </div>
        <div class="div3-1">
            <p class="p2-1">   
                
                
                If you want to train fresh graduated students or make a deals with programmers to do<br>
                multiple tasks so your company will benefit and stronger just go ahead and sign up</p>    


        </div>
        <div class="button1-1">
            
        

        </div>
    </div>
    <!-- ================================================ -->
    <div id="div0-2">
        <p class="p1-2">
            Companies typically look for a combination of technical skills,<br> 
            soft skills, and specific qualifications when hiring programmers.<br>
            On this site, most of the programmers you are looking for have<br>
            these skills and sufficient knowledge to provide you with their<br>
            best, so don't hesitate to try it.
        
        </p>
       
    </div>
    <!-- ========================================== -->
<div id="div0-3">
               
     <form class="signupCompany" action="/signUp/company" method="post" id="signUpFormCL">
        <div class="left">
          <label for="name">Company Name</label><br>
          <input type="text" id="name" name="name" style="color: #fff;"><br><br>
          <label for="Email">Company Email</label><br>
          <input type="email" id="Email" name="email" style="color: #fff;" ><br><br>
          <label for="password">Password</label><br>
          <input type="password" id="password" name="password" style="color: #fff;"><br><br><br>
          <div id="company-error-messages" style="color: red;" ></div>
        </div>
        <div class="div2-3">
          <img src="/log in project/imgs/2.jpg"/>
          <button class="button">Sign Up</button>
        </div>
      </form>

     

</div>  
    <!-- ==================================== -->
    <div id="div0-4">
        <p class="p1-4">All your needs !</p>

        <div class="div0-5">
            <div class="child0-5 div1-5">
                <div class="clild1-5">
                    <img class="img3-all" src="/log in project/imgs/computer_repair(1).png" alt="">
                </div>
                <a href="/Software-Developers-data">
                    <p>Software Developer</p>
                </a>
            </div>
            <div class="child0-5 div2-5">
                <div class="clild1-5">
                    <img class="img3-all" src="/log in project/imgs/Database_Manager-removebg-preview.png" alt="">
                </div>
                <a href="/Database-Managers-data">
                    <p>Database Manager</p>
                </a>
            </div>
            <div class="child0-5 div3-5">
                <div class="clild1-5">
                    <img class="img3-all" src="/log in project/imgs/API-removebg-preview.png" alt="">
                </div>
                <a href="">
                    <p>API Specialist</p>
                </a>
            </div>
            <div class="child0-5 div4-5">
                <div class="clild1-5">
                    <img class="img3-all" src="/log in project/imgs/quality assurance.png" alt="">
                </div>
                <a href="">
                    <p>quality assurance</p>
                </a>
            </div>
        </div>
        <div class="div0-5">
            <div class="child0-5 div1-5">
                <div class="clild1-5">
                    <img class="img3-all" src="/log in project/imgs/problem solver.png" alt="">
                </div>
                <a href="">
                    <p>problem solver</p>
                </a>
            </div>
            <div class="child0-5 div2-5">
                <div class="clild1-5">
                    <img class="img3-all" src="/log in project/imgs/Machine Learning.png" alt="">
                </div>
                <a href="">
                    <p>Machine Learning</p>
                </a>
            </div>
            <div class="child0-5 div3-5">
                <div class="clild1-5">
                    <img class="img3-all" src="/log in project/imgs/Security Specialist.png" alt="">
                </div>
                <a href="">
                    <p>Security Specialist</p>
                </a>
            </div>
            <div class="child0-5 div4-5">
                <div class="clild1-5">
                    <img class="img3-all" src="/log in project/imgs/Maintenance_manager-removebg-preview.png" alt="">
                </div>
                <a href="">
                    <p>Maintenance manager</p>
                </a>
            </div>
        </div>
    </div>
        
           
    </div>
    <!--========================================================================================================-->
    <footer id="footer">
        <div id="div0-f">
            <div id="div1-f" class="footerDivs">
                <h1>
                    FP <br>
                    Find.Programmer
                </h1>
            </div>
            <div id=div2-f class="footerDivs">
                <ul>
                    <li>
                        Group BAU
                    </li>
                    <br>
                    <li>
                        <a href="">About us</a>
                    </li>
                    <li>
                        <a href="">Terms of services</a>
                    </li>
                    <li>
                        <a href="">Privacy Policy</a>
                    </li>
                </ul>
            </div>
            <div id=div3-f class="footerDivs">
                <ul>
                    <li>
                        Follow us
                    </li>
                    <br>
                    <li>
                        <a href="">Facebook</a>
                    </li>
                    <li>
                        <a href="">Twitter</a>
                    </li>
                    <li>
                        <a href="">Instagram</a>
                    </li>
                </ul>
            </div>
            <div id="div4-f" class="footerDivs">
                <ul>
                    <li>contact us</li>
                    <br>
                    <li><a href="">mohammad.38002@gmail.com</a></li>
                </ul>
            </div>
        </div>
        <br>
        <div id="div5-f">
            <img src="/log in project/imgs/BAU.jpg" alt="BAU" class="BAU-image">
        </div>
        <div id="div6-f">
            <div class="start">From BAU</div>
            <div class="end">Made with . in BAU @2024 FP... </div>
        </div>
        <br> <br>
    </footer>

    <script src="/log in project/behavior.js"></script>
    <script src="/log in project/major.js"></script>
     <!-- ربط ملف جافا سكريبت -->
     <script src="/log in project/script.js"></script>

</body>

</html>