<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <title>Educational tools</title>
    <link rel="stylesheet" href="/log in project/Educational tools.css">
</head>

<body>
    <header id="header">
        <div class="logo">
            <i> FP </i>
            <a href="/">Find.programmer </a>
        </div>
        <div id="menu0-1">
            <ul class="menu1-1">
                <li class="menu2-1">
                    <button class="button0-1" onclick="toggleDropdown(this)">you are </button>
                    <div class="dropdown">
                        <a href="/signUp/company">company </a>
                        <a href="/signUp/programmer"> programmer </a>
                        <a href="/signUp/clientIndividual"> Individual </a>
                    </div>
                </li>
                <li class="menu2-1">
                    <button class="button0-1" onclick="toggleDropdown(this)">your project</button>
                    <div class="dropdown">
                        <a href="/WebsiteDevelopment">Website development</a>
                        <a href="/VideoGameDevelopment">Video game development</a>
                        <a href="/AutomationProjects">Automation Projects</a>
                        <a href="/CommunityProject">Community project</a>
                        <a href="/MobileAppDevelopment">Mobile app development</a>
                <a href="/AutomationProjects">Automation Projects</a>

                    </div>
                </li>
            </ul>
            <button class="log-in" ><a href="/signUp" style="text-decoration: none; color: #fff;">Join</a> </button>         
        </div>
    </header>
    <!-- =================================================== -->
    <div id="div0-1">
        <div id="div1-1">
            <h1>Educational tools</h1>
            <p>programmers have a major role in creating educational websites that facilitate some things for teachers
                in
                schools or universities to make the education process smoother and more entertainment so that the
                student is more
                interested in education.</p>
        </div>
        <div id="div2-1">
            <img src="/log in project/imgs/educational_tools_img1.jpg">
            <button class="read-more">Read more</button>
        </div>
    </div>
    <!-- ================================================ -->
    <div id="div0-2">
        <p>Some of people's experiences of <a href=""> FP</a> and how <br>
            our website has contributed to this topic</p>
    </div>
    <!-- ========================================== -->
    <div id="div0-3">
        <article class="content">

            <div class="div1-3">
                <h1> Lara Khaled </h1>
                <p class="div2-3">
                    I used FP to find a web developer for a small project I was working on. The experience was
                    generally positive, as I found many programmers with diverse skills who were willing to
                    implement the project at reasonable prices. I was able to negotiate the terms of work and
                    delivery, and I identified a programmer with positive reviews who had previously completed
                    similar projects. Communication with the programmer was easy via the FP platform and I was able
                    to manage the project effectively. The project ended successfully and based on my positive
                    experience, I recommend checking user reviews and communicating with potential programmers well
                    before starting the project.
                </p>
            </div>
            <span> <img src="/log in project/imgs/educational_tools_img2.jpg" alt="Image 1">  <p>next &#8594;</p>

            </span>
        </article>
        <article class="content">
            <div class="div1-3">

                <h1>Ayham mesleh </h1>
                <p class="div2-3">
                    From my own experience in FP it highlights the ease of the platform in finding skilled
                    freelancers for various projects. They value the wide range of talent available and the ability
                    to negotiate terms directly with freelancers. Positive experiences often include successful
                    project completion, effective communication, and satisfaction with the quality of work provided.
                </p>
            </div>
            <span> <img src="/log in project/imgs/educational_tools_img3.jpg" alt="Image 2" class="image">  <p>next &#8594;</p></span>

        </article>
        <article class="content">

            <div class="div1-3">
                <h1>Jana Alrefai</h1>
                <p class="div2-3">
                    The site achieved the best ongoing communication to ensure that expectations for the project were met. Users interacted to help them with any questions or problems they faced while using the site. By providing multiple customer support channels, such as live chat, email, and phone support, and ensuring that support staff are knowledgeable, helpful, and responsive to user inquiries.
                </p>
            </div>
            <span> <img src="/log in project/imgs/educational_tools_img4.jpg" alt="Image 3">  <p>next &#8594;</p>
            </span>
        </article>
    </div>
    <!-- ==================================== -->
    <div class="div0-4">
        <p class="p1-4">Related topics</p>
        <div class="div1-4">
            <a href="Mobile app development.html">Mobile app development</a>
            <a href="Video game development.html">Video game development</a>
            <a href="Educational tools.html">Educational tools</a>
        </div>
        <div class="div1-4">
            <a href="ChatBots.HTML">Chatbots and AI assistants</a>
            <a href="Community project.html">Community Projects</a>
            <a href="Automation Projects.html">Automation Projects</a>
        </div>
    </div>
    <!--========================================================================================================-->
    <footer id="footer">
        <div id="div0-f">
            <div id="div1-f" class="footerDivs">
                <h1>
                    FP <br>
                    Find.Programmer
                </h1>
            </div>
            <div id=div2-f class="footerDivs">
                <ul>
                    <li>
                        Group BAU
                    </li>
                    <br>
                    <li>
                        <a href="">About us</a>
                    </li>
                    <li>
                        <a href="">Terms of services</a>
                    </li>
                    <li>
                        <a href="">Privacy Policy</a>
                    </li>
                </ul>
            </div>
            <div id=div3-f class="footerDivs">
                <ul>
                    <li>
                        Follow us
                    </li>
                    <br>
                    <li>
                        <a href="">Facebook</a>
                    </li>
                    <li>
                        <a href="">Twitter</a>
                    </li>
                    <li>
                        <a href="">Instagram</a>
                    </li>
                </ul>
            </div>
            <div id="div4-f" class="footerDivs">
                <ul>
                    <li>contact us</li>
                    <br>
                    <li><a href="">mohammad.38002@gmail.com</a></li>
                </ul>
            </div>
        </div>
        <br>
        <div id="div5-f">
            <img src="/log in project/imgs/BAU.jpg" alt="BAU" class="BAU-image">
        </div>
        <div id="div6-f">
            <div class="start">From BAU</div>
            <div class="end">Made with . in BAU @2024 FP... </div>
        </div>
        <br> <br>
    </footer>

    <script src="/log in project/behavior.js"></script>
    <script src="/log in project/major.js"></script>

</body>

</html>