<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>full stack</title>

    <link href="https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="/log in project/full_stack.css">
</head>
<body>

    <!--=======================================================================================================-->
    <header id="header">
        <div class="logo">
            <i> FP </i>
            <a href="/">Find.programmer </a>
        </div>
        <div id="menu0-1">
            <ul class="menu1-1">
                <li class="menu2-1">
                    <button class="button0-1" onclick="toggleDropdown(this)">you are </button>
                    <div class="dropdown">
                        <a href="/signUp/company">company </a>
                        <a href="/signUp/programmer"> programmer </a>
                        <a href="/signUp/clientIndividual"> Individual </a>
                    </div>
                </li>
                <li class="menu2-1">
                    <button class="button0-1" onclick="toggleDropdown(this)">your project</button>
                    <div class="dropdown">
                        <a href="/WebsiteDevelopment">Website development</a>
                        <a href="/VideoGameDevelopment">Video game development</a>
                        <a href="/EducationalTools">Educational tools</a>
                        <a href="/CommunityProject">Community project</a>
                        <a href="/MobileAppDevelopment">Mobile app development</a>
                    </div>
                </li>
            </ul>
            <button class="log-in" ><a href="/signUp" style="text-decoration: none; color: #fff;">Join</a> </button>         
        </div>
    </header>
    <!--=======================================================================================================-->
    <section class="sec1">
        <div class="contener1">
            <p class="p1-1">Full stack Developer </p>
            <p class="p2-1">Roadmap</p>
        </div>
    </section>
    <!--=======================================================================================================-->
    <section class="sec2">
        <div class="contener2">
            <div class="div1-2">
                <div class="arrow0"></div>
            </div>
            <div class="div2-2">
                <!-- <div class="div1-2-2"></div>
                <div class="div2-2-2"></div>
                <div class="div3-2-2"></div>
                <div class="div4-2-2"></div> -->
                <div class="collect1">
                    <img src="/log in project/imgs/full_stack_web foundation.jpg" alt="Web foundation" class="img1-2">
                    <p class="p1-2">Web foundation</p>
                </div>
                <div class="collect1">
                    <img src="/log in project/imgs/full_stack_npm.png" alt="NPM Scripts" class="img2-2">
                    <p class="p2-2">NPM Scripts</p>
                </div>
                <div class="collect1">
                    <img src="/log in project/imgs/full_stack_git hub.png" alt="Git hub" class="img3-2">
                    <p class="p3-2">Git hub</p>
                </div>
                
                
                
            </div>
            <div class="div3-2">
                <div class="arrow1"></div>
                <div class="arrow2"></div>
                <div class="arrow3"></div>
            </div>
            <div class="div4-2">
                <div class="collect1">
                    <img src="/log in project/imgs/full_stack_html-removebg-preview.png" alt="HTML 5" class="img4-2">
                    <p class="p4-2">HTML 5</p>
                </div>
                <div class="collect1">
                    <img src="/log in project/imgs/full_stack_JavaScript-logo.png" alt="JavaScript" class="img5-2">
                    <p class="p5-2">JavaScript</p>
                </div>
                <div class="collect1">
                    <img src="/log in project/imgs/full_stack_react_js-removebg-preview.png" alt="React.js" class="img6-2">
                    <p class="p6-2">React.js</p>
                </div>
                <div class="collect1">
                    <img src="/log in project/imgs/full_stack_DB-removebg-preview.png" alt="Databases" class="img7-2">
                    <p class="p7-2">Databases</p>
                </div>
                
                
                
            </div>
            <div class="div5-2">
                <div class="arrow4"></div>
                <div class="arrow5"></div>
                <div class="arrow6"></div>
                <div class="arrow7"></div>
                
            </div>
            <div class="div6-2">
                <div class="collect1">
                    <img src="/log in project/imgs/full_stack_css-removebg-preview.png" alt="CSS 3" class="img8-2">
                    <p class="p8-2">CSS 3</p>
                </div>
                <div class="collect1">
                    <img src="/log in project/imgs/full_stack_bootstrap-logo.png" alt="Bootstrap" class="img9-2">
                    <p class="p9-2">Bootstrap</p>
                </div>
                <div class="collect1">
                    <img src="/log in project/imgs/full_stack_node_js-removebg-preview.png" alt="Node.js" class="img10-2">
                    <p class="p10-2">Node.js</p>
                </div>
                <div class="collect1">
                    <img src="/log in project/imgs/full_stack_vs-removebg-preview.png" alt="Developer Environment" class="img11-2">
                    <p class="p11-2">Developer Environment</p>
                </div>

            </div>


            <div class="div7-2">
                <div class="arrow8"></div>
                <div class="arrow9"></div>
            </div>
        </div>
    </section>
    <!--=======================================================================================================-->
    <section class="sec3">
        <div class="contener3">
            <p class="p1-3">Additional skills of full stack</p> 
            <br>
            <p class="p2-3">&#10687 Strong problem-solving skills, communication skills, teamwork, and the ability to adapt to new technologies
                and learn quickly.</p>
            <br>
            <p class="p3-3">&#10687 Experience working in agile development environments, including Scrum or Kanban, and understanding of
                agile principles and practices.</p>
            <br>
            <p class="p4-3">&#10687 Knowledge of software testing principles and experience in writing and executing tests, including unit tests,
                integration tests, and end-to-end tests.</p>
            <br>
            <p class="p5-3">&#10687 Experience in designing and implementing APIs (Application Programming Interfaces) for communication
                between different parts of the application or with external services.</p>
        </div>
    </section>
    <!--=======================================================================================================-->
    <footer id="footer">
        <div id="div0-f">
            <div id="div1-f" class="footerDivs">
                <h1>
                    FP <br>
                    Find.Programmer
                </h1>
            </div>
            <div id=div2-f class="footerDivs">
                <ul>
                    <li>
                        Group BAU
                    </li>
                    <br>
                    <li>
                        <a href="/About">About us</a>
                    </li>
                    <li>
                        <a href="/TermsOfServices">Terms of services</a>
                    </li>
                    <li>
                        <a href="/PrivacyPolicy">Privacy Policy</a>
                    </li>
                </ul>
            </div>
            <div id=div3-f class="footerDivs">
                <ul>
                    <li>
                        Follow us
                    </li>
                    <br>
                    <li>
                        <a href="">Facebook</a>
                    </li>
                    <li>
                        <a href="">Twitter</a>
                    </li>
                    <li>
                        <a href="">Instagram</a>
                    </li>
                </ul>
            </div>
            <div id="div4-f" class="footerDivs">
                <ul>
                    <li>contact us</li>
                    <br>
                    <li><a href="">mohammad.38002@gmail.com</a></li>
                </ul>
            </div>
        </div>
        <br>
        <div id="div5-f">
            <img src="/log in project/imgs/BAU.jpg" alt="BAU" class="BAU-image">
        </div>
        <div id="div6-f">
            <div class="start">From BAU</div>
            <div class="end">Made with . in BAU @2024 FP... </div>
        </div>
        <br> <br>
    
    </footer>




    <script src="/log in project/major.js"></script>
    <!--=======================================================================================================-->
</body>
</html>