<!DOCTYPE html>
<html lang="en">
<head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terms of Service</title>
    <link rel="stylesheet" href="/log in project/service.css">
    <script src="/log in project/major.js"></script>

    </head>

    <body>
        <header id="header">
            <div class="logo">
                <i> FP </i>
                <a href="/">Find.programmer </a>
            </div>
            <div id="menu0-1">
                <ul class="menu1-1">
                    <li class="menu2-1">
                        <button class="button0-1" onclick="toggleDropdown(this)">you are </button>
                        <div class="dropdown">
                            <a href="/signUp/company">company </a>
                            <a href="/signUp/programmer"> programmer </a>
                            <a href="/signUp/clientIndividual"> Individual </a>
                        </div>
                    </li>
                    <li class="menu2-1">
                        <button class="button0-1" onclick="toggleDropdown(this)">your project</button>
                        <div class="dropdown">
                            <a href="/WebsiteDevelopment">Website development</a>
                            <a href="/VideoGameDevelopment">Video game development</a>
                            <a href="/EducationalTools">Educational tools</a>
                            <a href="/CommunityProject">Community project</a>
                            <a href="/MobileAppDevelopment">Mobile app development</a>
                        </div>
                    </li>
                </ul>
                <button class="log-in" ><a href="/signUp" style="text-decoration: none; color: #fff;">Join</a> </button>         
            </div>
        </header>
        <!-- ===================================================== -->
        <div id="div0-1">
            <!-- <img src="C:/Users/rama/Desktop/about/imgs/term-1.jpg.jpeg" alt=""> -->
        </div>
        <!-- =============================================== -->
        <section id="terms">
            <div class="service">
                <div class="service1">
                    <h1>Legal Terms</h1>
                    <p>the terms that govern the use of our platform </p>
                </div>
               
                <div class="img">
                    <img src="/log in project/imgs/imag4.webp" alt="">
                </div>
            </div>

            <div class="service">
                <div class="img">
                    <img src="/log in project/imgs/imag5.webp" alt="">
                   </div> 

                   <div class="service1">
                    <h1>Privacy</h1>
                    <p>How we protect our Users Privacy </p>
                   </div>           
            </div>
            
            <div class="service">
                <div class="service1">
                    <h1>Community</h1>
                    <p> the standards to which we hold our Community members </p>
                </div>
                
                        <div class="img">
                         <img src="/log in project/imgs/img6.webp" alt="">
                        </div>
            </div>
        </section>
        <footer id="footer">
            <div id="div0-f">
                <div id="div1-f" class="footerDivs">
                    <h1>
                        FP <br>
                        Find.Programmer
                    </h1>
                </div>
                <div id=div2-f class="footerDivs">
                    <ul>
                        <li>
                            Group BAU
                        </li>
                        <br>
                        <li>
                            <a href="/About">About us</a>
                        </li>
                       
                        <li>
                            <a href="/PrivacyPolicy">Privacy Policy</a>
                        </li>
                    </ul>
                </div>
                <div id=div3-f class="footerDivs">
                    <ul>
                        <li>
                            Follow us
                        </li>
                        <br>
                        <li>
                            <a href="">Facebook</a>
                        </li>
                        <li>
                            <a href="">Twitter</a>
                        </li>
                        <li>
                            <a href="">Instagram</a>
                        </li>
                    </ul>
                </div>
                <div id="div4-f" class="footerDivs">
                    <ul>
                        <li>contact us</li>
                        <br>
                        <li><a href="">mohammad.38002@gmail.com</a></li>
                    </ul>
                </div>
            </div>
            <br>
            <div id="div5-f">
                <img src="/log in project/imgs/BAU.jpg" alt="BAU" class="BAU-image">
            </div>
            <div id="div6-f">
                <div class="start">From BAU</div>
                <div class="end">Made with . in BAU @2024 FP... </div>
            </div>
            <br> <br>
        
        </footer>
    <script src="/log in project/major.js"></script>

    </body>

</html>