<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/log in project/login3.css">
    <script src="https://kit.fontawesome.com/c9f5871d83.js" crossorigin="anonymous"></script>
    <!-- <script src="/log in project/major.js" defer></script> -->


    <title>signUp</title>
</head>
<body>
    

    <div class="background"></div>
    
     
        
    <section class="home">
        <div class="content">
       
            <h2>Success Start here</h2>
            
            <pre>
                Start doing deals with best 
                programmers from all  over
                      the world !
            </pre>

            <img src="/log in project/imgs/img1.jpg" alt="" class="loginImg">

        </div>

     <div class="login " > <!-- قسم إنشاء الحساب -->
            <h1>Create a new account</h1>
            <form action="/signup">
                <div class="main"> 
                    <input type="radio" id="Programmer" name="new" value="Programmer" required>
                    <label for="Programmer">Programmer</label>
                    <input type="radio" id="Client" name="new" value="Client" required>
                    <label for="Client">Client </label><br>
                </div>

                <div class="hide">
                    <input type="radio" id="Individual" name="Client" value="Individual" required>
                    <label for="Individual">Individual</label>
                    <input type="radio" id="Company" name="Client" value="Company" required>
                    <label for="Company">Company</label><br>
                </div>

                <button type="submit" class="Continue">Continue To FP</button>

                <div class="signIn">
                    <p>already have an account?</p>
                    <a href="/login">log in</a> <!-- رابط لتسجيل الدخول -->
                </div>
            </form>
    </div>
 <!-- ربط ملف جافا سكريبت -->
    <script src="/log in project/script.js"></script>
    
</body>   