<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video game development</title>
    <link rel="stylesheet" href="/log in project/Video_ game.css">
    <link href="https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
</head>

<body>
    <header id="header">
        <div class="logo">
            <i> FP </i>
            <a href="/">Find.programmer </a>
        </div>
        <div id="menu0-1">
            <ul class="menu1-1">
                <li class="menu2-1">
                    <button class="button0-1" onclick="toggleDropdown(this)">you are </button>
                    <div class="dropdown">
                        <a href="/signUp/company">company </a>
                        <a href="/signUp/programmer"> programmer </a>
                        <a href="/signUp/clientIndividual"> Individual </a>
                    </div>
                </li>
                <li class="menu2-1">
                    <button class="button0-1" onclick="toggleDropdown(this)">your project</button>
                    <div class="dropdown">
                        <a href="/WebsiteDevelopment">Website development</a>
                        
                        <a href="/EducationalTools">Educational tools</a>
                        <a href="/ChatBots">ChatBots</a>
                        <a href="/CommunityProject">Community project</a>
                        <a href="/MobileAppDevelopment">Mobile app development</a>
                         <a href="/AutomationProjects">Automation Projects</a>


                    </div>
                </li>
            </ul>
            <button class="log-in" ><a href="/signUp" style="text-decoration: none; color: #fff;">Join</a> </button>

        </div>
    </header>
    <!-- =============================================== -->
    <div id="div0-2">
        <h4>Video game development</h4>
        <p>As we know, video games are in increasing demand so <a href=""> FP</a> team care about providing you with the
            possibility of communicating with programmers to create video games and contribute to spreading
            entertainment.</p>
    </div>
    <!-- ---------------- -->
    <div id="div0-4">
        <p>All things to create video games you will find it in this website :</d>
    </div>
    <div id="div0-3">
        <div class="div1-3">
            <p>&emsp; &check;Programming Languages </p>
            <p>&emsp; &check;Game Development Frameworks </p>
            <p>&emsp; &check;Development Environment </p>
            <p>&emsp; &check;Graphics Programming </p>
            <p>&emsp; &check;Al Programming </p>
            <p>&emsp; &check;Physics Programming </p>
            <p>&emsp; &check;Networking Programming </p>
            <p>&emsp; &check;Audio Programming </p>
            <p>&emsp; &check;Scripting Languages </p>
            <p>&emsp; &check;Version Contro </p>
        </div>
        <div class="div2-3">
            <img src="/log in project/imgs/video_game_development_img2.jpg" />
        </div>
    </div>
    <!-- ================================================== -->
    <div id="div0-5">
        <div class="div1-5">
            <img src="/log in project/imgs/video_game_development_img3.jpg">
            <button class="button"> Create one</button>
        </div>
        <div class="div2-5">
            <p>Create your own<br> video game !</p>
        </div>
    </div>
    <!-- ========================================= -->
    <div class="div0-4">
        <p class="p1-4">Related topics</p>
        <div class="div1-4">
            <a href="/WebsiteDevelopment">website development</a>
            <a href="Mobile app development.html">Mobile app development</a>
            <a href="Educational tools.html">Educational tools</a>
        </div>
        <div class="div1-4">
            <a href="ChatBots.HTML">Chatbots and AI assistants</a>
            <a href="Community project.html">Community Projects</a>
            <a href="Automation Projects.html">Automation Projects</a>
        </div>
    </div>
    <!-- ======================================================= -->
    <footer id="footer">
        <div id="div0-f">
            <div id="div1-f" class="footerDivs">
                <h1>
                    FP <br>
                    Find.Programmer
                </h1>
            </div>
            <div id=div2-f class="footerDivs">
                <ul>
                    <li>
                        Group BAU
                    </li>
                    <br>
                    <li>
                        <a href="">About us</a>
                    </li>
                    <li>
                        <a href="">Terms of services</a>
                    </li>
                    <li>
                        <a href="">Privacy Policy</a>
                    </li>
                </ul>
            </div>
            <div id=div3-f class="footerDivs">
                <ul>
                    <li>
                        Follow us
                    </li>
                    <br>
                    <li>
                        <a href="">Facebook</a>
                    </li>
                    <li>
                        <a href="">Twitter</a>
                    </li>
                    <li>
                        <a href="">Instagram</a>
                    </li>
                </ul>
            </div>
            <div id="div4-f" class="footerDivs">
                <ul>
                    <li>contact us</li>
                    <br>
                    <li><a href="">mohammad.38002@gmail.com</a></li>
                </ul>
            </div>
        </div>
        <br>
        <div id="div5-f">
            <img src="/log in project/imgs/BAU.jpg" alt="BAU" class="BAU-image">
        </div>
        <div id="div6-f">
            <div class="start">From BAU</div>
            <div class="end">Made with . in BAU @2024 FP... </div>
        </div>
        <br> <br>
    </footer>
    <script src="/log in project/major.js"></script>
</body>

</html>