<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> More details </title>
    <link href="https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/log in project/WhatFP.CSS">
</head>

<body>

    <header id="header">
        <div class="logo">
            <i> FP </i>
            <a href="/">Find.programmer </a>
        </div>
        <div id="menu0-1">
            <ul class="menu1-1">
                <li class="menu2-1">
                    <button class="button0-1" onclick="toggleDropdown(this)">you are </button>
                    <div class="dropdown">
                        <a href="/signUp/company">company </a>
                        <a href="/signUp/programmer"> programmer </a>
                        <a href="/signUp/clientIndividual"> Individual </a>
                    </div>
                </li>
                <li class="menu2-1">
                    <button class="button0-1" onclick="toggleDropdown(this)">your project</button>
                    <div class="dropdown">
                        <a href="/WebsiteDevelopment">Website development</a>
                        <a href="/VideoGameDevelopment">Video game development</a>
                        <a href="/EducationalTools">Educational tools</a>
                        <a href="/ChatBots">ChatBots</a>
                        <a href="/CommunityProject">Community project</a>
                        <a href="/MobileAppDevelopment">Mobile app development</a>
                    </div>
                </li>
            </ul>
            <button class="log-in" ><a href="/signUp" style="text-decoration: none; color: #fff;">Join</a> </button>

        </div>
    </header>
    <!--==============================================  -->
    <div id="div0-1">
        <h1>What is  <a href=""> FP Find.Programmer </a> ? </h1>
        <div class="div1-1">
            <img src="/log in project/imgs/more details-amg-1.jpg" alt="">
            <p>let's say you have a huge market , company
                or any thing special that you thought about
                it but you need to support your idea or
                something that will make your idea interact
                with reality and make money addtionally
                saving your time that's why we build this
                website for you to save your time and make
                money by deals with best programmers in
                this world ...</p>
        </div>
    </div>
    <!-- ============================================ -->
    <div id="div0-2">
        <h4>How it works ?</h4>
        <div class="div3-2">
            <p>
                Our website is tailored for businessmen, company owners,
                and restaurant owners seeking tech solutions. Connect
                with professionals and explore innovative ideas for
                business growth. Join us to unlock your industry's
                potential for success... </p>
            <button class="button0-2">Get Started</button>
        </div>
        </div>
    <!-- =============================================== -->
    <div  id="div0-3">
      <h3>users have already experienced </h3>
      <a href="/">FP Find.Programmer    </a>
    </div>
    <!-- =============================================== -->
    <div id="div0-4">


        
    </div>
    <!-- =============================================== -->
    <footer id="footer">
        <div id="div0-f">
            <div id="div1-f" class="footerDivs">
                <h1>
                    FP <br>
                    Find.Programmer
                </h1>
            </div>
            <div id=div2-f class="footerDivs">
                <ul>
                    <li>
                        Group BAU
                    </li>
                    <br>
                    <li>
                        <a href="/About">About us</a>
                    </li>
                    <li>
                        <a href="/TermsOfServices">Terms of services</a>
                    </li>
                    <li>
                        <a href="/PrivacyPolicy">Privacy Policy</a>
                    </li>
                </ul>
            </div>
            <div id=div3-f class="footerDivs">
                <ul>
                    <li>
                        Follow us
                    </li>
                    <br>
                    <li>
                        <a href="">Facebook</a>
                    </li>
                    <li>
                        <a href="">Twitter</a>
                    </li>
                    <li>
                        <a href="">Instagram</a>
                    </li>
                </ul>
            </div>
            <div id="div4-f" class="footerDivs">
                <ul>
                    <li>contact us</li>
                    <br>
                    <li><a href="">mohammad.38002@gmail.com</a></li>
                </ul>
            </div>
        </div>
        <br>
        <div id="div5-f">
            <img src="/log in project/imgs/BAU.jpg" alt="BAU" class="BAU-image">
        </div>
        <div id="div6-f">
            <div class="start">From BAU</div>
            <div class="end">Made with . in BAU @2024 FP... </div>
        </div>
        <br> <br>

    </footer>
    <script src="/log in project/major.js"></script>

</body>

</html>