body {
  background-color: #191919;
  padding: 0;
  margin: 0;
}
/*========================================================================*/
#header {
  height: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background: #0c0c0c;
  position: sticky;
  top: 0;
  left: 0;
  border-top: 0;
  z-index: 1;
  padding: 8px; 
  border-bottom: 1.92px solid white; 
}

.logo {
  padding-left: 16px; 
}

#header .logo i {
  color: #8D2A2A;
  font-family: "Kalam", cursive;
  font-size: 48px; 
  font-weight: bold;
}

#header .logo a {
  font-size: 40px; 
  font-weight: bold;
  color: #8D2A2A;
  font-family: "Kalam", cursive;
  text-decoration: none;
}

#menu0-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.menu2-1 {
  display: inline-block;
  margin-right: 16px; 
}

.button0-1 {
  color: white;
  font-size: 24px; 
  padding: 16px 24px; 
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.button0-1:hover {
  color: #8D2A2A;
}

.dropdown {
  top: 72px; 
  display: none;
  position: absolute;
  z-index: 1000;
  background-color: black;
}

.dropdown a {
  color: white;
  padding-top: 11.2px; 
  padding-left: 48px; 
  text-decoration: none;
  display: block;
  font-size: 20.8px; 
  background: rgba(10, 10, 10, 0.911);
}

.dropdown a:hover {
  color: #8D2A2A;
}


.button0-1:hover .dropdown {
  display: block;
}

.log-in {
  font-weight: bold;
  font-size: 24px; 
  padding: 8px 24px; 
  background-color: transparent;
  color: #fcf7f7;
  border-radius: 16px; 
  border: 3.2px solid #c0bcbc; 
  transition: 0.2s;
}

.log-in:hover {
  background-color: #8D2A2A;
  color: white;
}



/* ================================== */
.all {
  background: 
  linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
  url("imgs/Home.jpg") no-repeat;
background-size: cover;

  background-position: center;
  background-size: cover;
  height: 700px;
}

:root {
  --primary-color: #c6c3c3;
  --second-color: #ffffff;
  --black-color: #000000;
}

a {
  text-decoration: none;
  color: var(--second-color);
}

.login_box {
  position: relative;
  top: 5rem;
  left: 2rem;
  width: 400px;
  height: 360px;
  backdrop-filter: blur(1rem);
  border: .4rem solid rgba(253, 250, 250, 0.082);
  border-radius: 1rem;
  padding: 2.5em 1em 2.5em 2em;
  color: var(--second-color);
  box-shadow: 0rem 0rem 1rem .5rem rgba(184, 180, 180, 0.2);
}

.login-header {
  position: absolute;
  top: 0;
  left: 14rem;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(253, 250, 250, 0.082);
  width: 150px;
  height: 50px;
  border-radius: 0 0 1rem 1rem;

}

.login-header span {
  font-size: 2.5rem;
  font-family: Arial Rounded MT;
  color: var(--second-color);
}

.input_box {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 4rem 0;
}

.input-field {
  width: 300px;
  height: 50px;
  font-size: 1rem;
  background: transparent;
  color: var(--second-color);
  padding-inline: 2rem 1.5rem;
  border: .2rem solid var(--primary-color);
  border-radius: 1rem;
  outline: none;
}

#user {
  margin-bottom: -3rem;
}

.label {
  position: absolute;
  top: 1rem;
  left: 1.2rem;
  transition: 0.2s;

}

.remember-forgot {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  position: relative;
  top: -3rem;
}

.forgot {
  position: relative;
  right: 3rem;
}

.forgot a:hover {
  color: #8D2A2A;
}

.input-submit {
  width: 90%;
  height: 50px;
  background: #ececec;
  font-size: 2rem;
  font-weight: 500;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  transition: 0.3s;
  position: relative;
  top: -4rem;
}

.input-submit:hover {
  background: #8D2A2A;
}

.register {
  text-align: center;
  position: relative;
  top: -7rem;
}

.register a {
  font-weight: 400;
  font-family: "Kalam", cursive;
}

.register a:hover {
  color: #8D2A2A;
}


/*================================================= */



.FP {
  color: aliceblue;
  font-size: 2rem;
  padding: 5rem;
  height: fit-content;
  position: relative;
  top: -3rem;
}

.FP a {
  text-decoration: none;
  font-family: "Kalam", cursive;
  font-weight: 700;
  color: #8D2A2A;
}

.FP #p1-2 {
  font-size: 5rem;
  font-family: serif;
}




/*===================================================*/

#div0-4 {
  display: flex;
}

#div1-4 {
  flex: 1;
  background: url("imgs/major2.jpg");
  color: aliceblue;
  font-size: 3rem;
  font-family: Tahoma, Geneva, Verdana, sans-serif;
  padding: 3rem;
  background-size: cover;
  background-position: center;
}

#div2-4 {
  flex: 2;
  height: fit-content;
  background: linear-gradient(100.32deg, #746399 0%, #281D12 104.09%);
  padding: 2rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
  font-family: Tahoma, Geneva, Verdana, sans-serif;
}

#div2-4 li {
  font-size: 2rem;
  list-style-position: inside;
}

/* ================================================ */


#div0-5 {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.616), rgba(0, 0, 0, 0.658)), url("imgs/major3.jpg"), no-repeat;
  padding: 2rem;
  background-size: cover;
  background-position: center;
}

#div1-5 {
  color: white;
  font-size: 2.7rem;
  text-shadow: 1rem, 1rem, 0rem, black;
  padding: 5rem;
  width: 60%;
}

#div2-5 {

  margin: 5rem;
}

#a1-5,
#a2-5 {
  text-decoration: none;
  margin: 1rem;
  color: aliceblue;
  border-radius: 1rem;
  padding: 0.7rem 1.5rem;
  border: 0.1rem solid #14afa2;
  background-color: #16131275;
}
#a1-5:hover{
  color:black ;
  background-color: #14afa2;
}
#a2-5:hover{
  color:black ;
  background-color: #14afa2;
}

/* ================================================  */


#div0-6 {
  margin: 3rem;
  padding-left: 2rem;
  padding-right: 6rem;
  display: flex;
}

#div1-6 {
  direction: rtl;
  width: 40%;
  height: 13rem;
  margin: 2rem;
  position: relative;
}

#img4 {
  width: 12rem;
  height: 9rem;
  border-radius: 5rem;
  object-fit: cover;
  position: absolute;
  right: 9rem;
}

#img5 {
  width: 9rem;
  height: 9rem;
  border-radius: 5rem;
  object-fit: cover;
  position: absolute;
  bottom: 0;
}

#div2-6 {
  color: aliceblue;
}

#p1-6 {
  font-size: 3rem;
}

#p2-6 {
  font-size: 1.2rem;
}

#a-6 {
  font-size: 1.1rem;
  display: inline-block;
  color: aliceblue;
  text-decoration: none;
  border-radius: 1rem;
  padding: 0.7rem 1.5rem;
  border: 0.1rem solid #8D2A2A;
  background-color: #16131275;
}
#a-6:hover{
  background-color: #8D2A2A;


}

/* =========================================================== */


#footer {
  background-color: #0c0c0c;
}
#div0-f {
  margin: 2rem;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
}

#div1-f {
  font-family: "Kalam", cursive;
  font-style: normal;
  font-weight: 700;
  font-size: 50;
  color: #8D2A2A;
  text-shadow: 0rem 4rem 4rem rgba(0, 0, 0, 0.25);
}


#div2-f a,
#div4-f a {
  text-decoration: none;
}

#div2-f,
#div3-f,
#div4-f,
footer a {
  color: aliceblue;

}

ul {
  list-style: none;
  line-height: 1.7rem;
}

.footerDivs {
  direction: rtl;
  text-align: left;
  font-size: 18px;
  margin: 1rem 2rem;
  white-space: nowrap;

}

#div5-f {
  margin-top: 1rem;
  margin-left: 4rem;

}

#div6-f {
  padding-left: 0.5rem;
  margin-left: 4rem;
  margin-right: 4rem;
  color: aliceblue;
  font-size: larger;
  display: flex;
  justify-content: space-between;
}

.BAU-image {
  width: 7rem;
  height: auto;
  border-radius: 1rem;
}


